<!--<form action="/crear-producto" method="POST" class="create-form">
            <div class="control-formulario">
                <label>Nombre del producto:</label>
                <input type="text" name="nombre" class="control">
            </div>
            <div class="control-formulario">
                <label>Precio:</label>
                <input type="number" name="precio" placeholder="123.56" class="control">
            </div>
            <div class="control-formulario">
                <label>Categoria</label>
                <select type="categoria" class="control">
                    <option value="hogar">Hogar</option>
                    <option value="electro">Electro</option>
                    <option value="indumentaria">Indumentaria</option>
                </select>
            </div>
            <div class="control-formulario">
                <label>Provincia</label>
                <select type="provincia" class="control">
                    <option value="juj">Jujuy</option>
                    <option value="bsas">Buenos Aires</option>
                    <option value="ros">Rosario</option>
                </select>
            </div>
            <div class="control-formulario">
                <label>Descripcion:</label>
                <textarea type="descripcion" class="control"></textarea>
            </div>
            <div class="control-formulario">
                <label>En Oferta:</label>
                <input type="checkbox" name="en-oferta">
            </div>
            <button type="submit" class="form-button">Guardar</button>
            <button type="reset" class="form-button">Borrar</button>
        </form>-->