<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/969d33ecfa.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/normalize.css">
    </head>
    <body>
        <form action="/" method="get">
            <div class="control-formulario">
                <label>Nombre</label>
                <input type="text" name="nombre" class="control">
            </div>
            <div class="control-formulario">
                <label>Apellido</label>
                <input type="text" name="apellido" class="control">
            </div>
            <div class="control-formulario">
                <label>Nombre de usuari@</label>
                <input type="text" name="username" placeholder="Pepe123" class="control">
            </div>
            <div class="control-formulario">
                <label>Fecha de Nacimiento</label>
                <input type="date" name="dob" class="control">
            </div>
            <div class="control-formulario">
                <label>Domicilio</label>
                <input type="text" name="username" placeholder="Calle Falsa 123" class="control">
            </div>
            <div class="control-formulario">
                <label>Perfil de Usuario</label>
                <select type="user-profile" class="control">
                    <option value="buyer">Comprador</option>
                    <option value="seller">Vendedor</option>
                </select>
            </div>
            <div class="control-formulario">
                <h2>Categoria de Interes</h2>
                <label>Electro <input type="checkbox" name="electro"></label>
                <label>Moda <input type="checkbox" name="moda"></label> 
                <label>Hogar <input type="checkbox" name="hogar"></label>    
                <label>Jugueteria <input type="checkbox" name="jugueteria"></label>
                <label>Vida sana <input type="checkbox" name="vida-sana"></label>
            </div>
            <div>
                <label>Foto de Usuario</label>
                <input type="file">
            </div>
            <div class="control-formulario">
                <label>Contraseña</label>
                <input type="password" name="password" class="control">
            </div>
            <div class="control-formulario">
                <label>Confirmar contraseña</label>
                <input type="password" name="password-repeat" class="control">
            </div>
            <div>
                <button type="submit">Guardar y Salir</button>
            </div>
            <div>
                <button type="reset">Reiniciar</button>
            </div>
        </form>
    </body>