<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/969d33ecfa.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/normalize.css">
    </head>
    <body>
        <form action="#" method="post">
            <div class="control-formulario">
                <label>Nombre</label>
                <input type="text" name="nombre" class="control">
            </div>
            <div class="control-formulario">
                <label>Apellido</label>
                <input type="text" name="apellido" class="control">
            </div>
            <div class="control-formulario">
                <label>Nombre de usuari@</label>
                <input type="text" name="username" placeholder="Pepe123" class="control">
            </div>
            <div class="control-formulario">
                <label>Nombre de usuari@</label>
                <input type="text" name="username" placeholder="Pepe123" class="control">
            </div>
            <div class="control-formulario">
                <label>Fecha de Nacimiento</label>
                <input type="date" name="dob" class="control">
            </div>
            <div class="control-formulario">
                <label>Perfil de Usuario</label>
                <select type="user-profile" class="control">
                    <option value="buyer">Comprador</option>
                    <option value="seller">Vendedor</option>
            </div>

            <div class="control-formulario">
                <label>Hogar</label>
                <input type="checkbox" name="en-oferta">
            </div>
            
        </form>
    </body>