* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-bottom: 400px;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px 0px;
    width: 100%;
}

.create-form {
    padding: 20px 15px
}

.control-formulario {
    margin-bottom: 15px;
}


.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
    display: block;
}

.control-formulario label.option{
    margin-bottom: 5px;
    font-style: italic;
    font-weight: normal;
    display: block;
}

.control-formulario p{
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
    display: block;
}

.control {
    width: 100%;
    padding: 8px
}

.form-button {
    background-color: #EAC926;
    border: none;
    font-size: 20px;
    color: #000;
    border-radius: 5px;
    padding: 5px
}

.end-button{
    border-radius: 5px;
    border-width: 1px;
    margin: 5px 0px;
    padding: 5px;
    width: 100%;
}

.end-button--save-exit{
    background-color: #1259c3;
    color: #FFF
}

.end-button--save-exit:hover{
    background-color: #0022AA;
    color: #FFF
}
