* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

img.banner {
    width: 100%;
    margin-top:150px;
}

.create-form {
    padding: 20px 15px
}

.control-formulario {
    margin-bottom: 15px;
}


.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px
}

.form-button {
    background-color: #EAC926;
    border: none;
    font-size: 20px;
    color: #000;
    border-radius: 5px;
    padding: 5px
}

body header p {
    text-align: center;
}

body main {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

body main div.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

body main section h3{
    padding: 15px 0px;
    text-align: left;
    color: #666;
}

body main article {
    margin: 5px 0px;
    display: inline-block
}

body main article img {
    width: 100%;
    text-align: center
}

body main div.article-details {
    background-color: #fff;
    margin: 0;
    border: solid 1px #ebebeb;
    width: 100%;
    padding: 15px;
}

main section article div.truck {
    display: flex;
}

body main article div.article-details div.price-discount {
    display: flex;
    align-items: flex-end;
}

body main i, .discount{
    color: #39b54a
}

body main section article i {
    align-items: right;
    order: 1;
    right: 15px;
    border: 1px solid #39b54a;
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 50%;
    background: #FFF;
    margin: -30px 85%;
}

main section article div.price-discount p.price{
    align-self: flex-end;
    width: 50%
}

main section article div.price-discount p.discount{
    width: 30%;
    align-self: bottom;
    flex-grow: 1;
}

body main .description{
    display: none;
    color: #666;
    font-weight: normal;
}

h3 {
    font-size: 24px;
}

.price {
    font-size: 18px;
}

h4.description, .discount {
    font-size: 16px;
}

@media (min-width: 420px){

    body main article {
        width: 40%;
    }

    main section article{
    }
}

@media (min-width: 768px){

    body main article {
        width: 20%;
    }
    
    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }

    main section article:hover .description{
        display: flex;
    }

    main section article div.truck i {
        transition: transform 450ms;
    }

    main section article:hover div.truck i {
        transform: rotate(-90deg);
    }
}