<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/969d33ecfa.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/login-styles.css">
        <link rel="stylesheet" href="/css/header-footer-styles.css">
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
        <form action="/" method="get">
            <div class="control-formulario">
                <label>Nombre de Usuari@</label>
                <input type="text" name="username" class="control">
            </div>
            <div class="control-formulario">
                <label>Contraseña</label>
                <input type="password" name="password" class="control">
            </div>
            <div>
                <button type="submit" class="end-button end-button--save-exit">Ingresar</button>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>